.btn-info {
  transition: background-color .2s ease-in-out;
}
.blazy > .grid {
  margin-bottom: 30px;
}
.views-field.views-field-field-picture-caption {
  text-align: center;
}
.page-header {
  border-bottom: none;
  padding-bottom: 0;
}
.navbar-brand {
  float: none;
  font-family: 'Cutive Mono', monospace;  font-size: 80px;
  color: #222;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -8px;
  margin-top: 20px;
}
p.navbar-text {
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    margin-bottom: 15px;
}
.navbar-brand:hover {
  color: #222;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
input[type="file"] {
  height: auto;
}
.node-add-page #edit-field-picture-caption-0-format {
  display: none;
}
.node-add-page button#edit-preview {
  display: none;
}
.node-add-page .addnew {
  display: none;
}
.node-add-page .page-header {
  margin-top: 20px;;
}
.content-top-region .text-right {
    display: inline-block;
    float: right;
}
.content-top-region .social-icon:hover {
  pointer: finger;
}
.content-top-region .social-icon {
  vertical-align: middle;
}
.content-top-region .text-left {
    display: inline-block;
}
.content-top-region .btn-info {
    color: #222;
    background-color: #fff;
    border-color: #222;
    border-radius: 3px;
}
.content-top-region .btn-info:hover {
   background-color: #fff;
   text-decoration: underline;
}
.field.field--name-field-picture-credit.field--type-string.field--label-hidden.field--item.quickedit-field {
    font-style: italic;
}
@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 30px;
    letter-spacing: .01em;
    margin-top: 0;
  }
  .main-container {
     margin-top: 0;
  }
  .content-top-region {
    margin-top: 0;
  }
  p.navbar-text {
    font-size: 13px;
    letter-spacing: .005em;
    margin-top: 0;
  }
  .logo-float {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .content-top-region .btn-info {
    font-size: 11px;
    padding: 8px 5px;
  }
}

///////////////////////////////////////////////
form {
    margin-bottom: 200px!important;
    padding-bottom: 200px!important;
}
